<div class="card shadow-sm mb-3 chartcanvas">
    <div class="card-header cost_input_header">
        <p class="lead mb-0">Costs</p>
    </div>
    <div class="card-body">

        {% for cost_input in model.cost_inputs %}

                <p class="mr-4">{{ cost_input.name }}</p>
                <div class="form-inline py-2" id="inputs">

                    <div class="container py-1 rounded border">

                        <div class="form-inline" id="inputs">
                            <span class="mr-2 font-weight-bold">Value</span>
                            <input type="range" id="cost_input_static_{{ cost_input.id }}"
                                min={{ cost_input.static_values.value_min }} max={{ cost_input.static_values.value_max }}
                                value={{ cost_input.static_values.value_default }} step={{ cost_input.static_values.step }}
                                class="form-control w-25" oninput="cost_value_display_{{ cost_input.id }}()"
                                onmouseup="update_costs()">
                            <span class="badge badge-pill badge-primary font-weight-bold ml-2"><output
                                    id="cost_output_int_static_{{ cost_input.id }}" type="int" /></span>
                            <button type="button" class="btn btn-sm btn-outline-secondary ml-auto"
                                onclick="reset_cost_output_int_{{ cost_input.id }}()">Reset</button>
                        </div>

                        {% if cost_input.input_type != 'static' %}
                            <div class="form-inline">
                                <span class="mr-2 font-weight-bold">Growth Factor</span>
                                <input type="range" min={{ cost_input.growth_factor.value_min }}
                                    max={{ cost_input.growth_factor.value_max }}
                                    value={{ cost_input.growth_factor.value_default }} step={{ cost_input.growth_factor.step }}
                                    id="cost_input_growth_{{ cost_input.id }}" class="form-control w-25"
                                    oninput="cost_value_display_{{ cost_input.id }}()"
                                    onmouseup="update_costs()">
                                <span class="badge badge-pill badge-primary font-weight-bold ml-2"><output
                                        id="cost_output_int_growth_{{ cost_input.id }}" type="int" /></span>
                            </div>
                        {% endif %}

                    </div>

                </div>
       

            <script>
                function reset_cost_output_int_{{ cost_input.id }}() {
                    var input_static = document.getElementById('cost_input_static_{{ cost_input.id }}')
                    input_static.value = {{ cost_input.static_values.value_default }};

                    {% if cost_input.input_type != 'static' %}
                        var input_growth = document.getElementById('cost_input_growth_{{ cost_input.id }}')
                        input_growth.value = {{ cost_input.growth_factor.value_default }};
                    {% endif %}

                    update_costs()
                };
            </script>
                
        {% endfor %} 

        <small class="text-muted" name="slider_tip">You can set the value for this input by moving the slider.</small>

            <div class="text-right">
                <input type="image" class="mr-2" id="icon_chart_costs"
                    src="{{ url_for('static', filename='images/icons/hide2.png')}}" width="30px"
                    onclick="toggle_div_chart_costs()" />
            </div>
            
            <div id="div_chart_costs" style="display:none">
                <canvas id="chart_costs" height="200"></canvas>
            </div>
   

        <hr>
        <a href="javascript:void(0)" id="information" class="badge badge-light badge-pill float-right"
            data-toggle="popover" title="information" data-content="#"><b>more →</b></a>
    </div>
</div>

<script>
    function toggle_div_chart_costs() {
        var chart = document.getElementById("div_chart_costs");
        var icon = document.getElementById("icon_chart_costs");
        if (chart.style.display === "none") {
            chart.style.display = "block";
            icon.src = "{{ url_for('static', filename='images/icons/show.png')}}"
        } else {
            chart.style.display = "none";
            icon.src = "{{ url_for('static', filename='images/icons/hide2.png')}}"
        };
    }
</script>

<script>
    var T = {{ model.time_horizon }};
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July'];


    update_costs();
        {% for cost_input in model.cost_inputs %}
            function cost_value_display_{{ cost_input.id }}() {
                cost_output_int_static_{{ cost_input.id }}.value = cost_input_static_{{ cost_input.id }}.value;
                {% if cost_input.input_type != 'static' %}
                    cost_output_int_growth_{{ cost_input.id }}.value = cost_input_growth_{{ cost_input.id }}.value;
                {% endif %}
            };
        {% endfor %}

    function update_costs() {
        var ctx_costs = document.getElementById('chart_costs').getContext('2d');
        var borderColors = ['#367DD9', '#FFD163', '#E8B05A', '#FF7F63']
        var fillColors = ['#367DD9', '#FFD163', '#E8B05A', '#FF7F63']


        {% for cost_input in model.cost_inputs %}
            cost_output_int_static_{{ cost_input.id }}.value = cost_input_static_{{ cost_input.id }}.value;
            array_static_cost_{{ cost_input.id }}_new = new Array(T).fill(cost_input_static_{{ cost_input.id }}.value);
            {% if cost_input.input_type != 'static' %}
                cost_output_int_growth_{{ cost_input.id }}.value = cost_input_growth_{{ cost_input.id }}.value;
            {% endif %}
            {% if cost_input.input_type == 'linear' %}
                array_linear_cost_{{ cost_input.id }}_new = array_static_cost_{{ cost_input.id }}_new.map((value, index) => (Math.round((value * 1 + cost_input_growth_{{ cost_input.id }}.value * index) * 100) / 100));
            {% elif cost_input.input_type == 'exp' %}
                array_exp_cost_{{ cost_input.id }}_new = array_static_cost_{{ cost_input.id }}_new.map((value, index) => (Math.round((value * ((1 + 1*cost_input_growth_{{ cost_input.id }}.value) ** index) + Number.EPSILON) * 100) / 100));
            {% endif %}
        {% endfor %}

        var chart_costs = new Chart(ctx_costs, {
            type: 'line',
            data: {
                labels: months,
                datasets: [

                {% for cost_input in model.cost_inputs %}  
                
                    {
                    label: '{{ cost_input.name }}',
                    borderColor: borderColors[parseInt({{ cost_input.id }})-1],
                    fillColor: fillColors[parseInt({{ cost_input.id }}) -1],

                    data: 
                        {% if cost_input.input_type == 'static' %}
                            array_static_cost_{{ cost_input.id }}_new,
                        {% elif cost_input.input_type == 'linear' %}
                            array_linear_cost_{{ cost_input.id }}_new,
                        {% elif cost_input.input_type == 'exp' %}
                            array_exp_cost_{{ cost_input.id }}_new,
                        {% endif %}

                    fill:+1,
                    pointRadius: 0
                    },

                {% endfor %}
                ]
            },
            options: {
            legend: {
                position: "bottom",
            },
            scales: {
                yAxes: [{
                    ticks: {
                            maxTicksLimit: 10,
                            stacked: true
                            }
                        }]
                    }
                }
            });


        chart_costs.update();
        };


</script>