


<div class="card shadow-sm mb-3 chartcanvas">
    <div class="card-header form-inline py-3">
        <span class="mb-0">{{ bundle }}</span>
        <input type="image" class="mr-3 ml-auto" id="icon_chart_costs_{{ bundle_id.index }}"
                src="{{ url_for('static', filename='images/icons/hide2.png')}}" width="30px"
                onclick="toggle_div_chart('div_chart_costs_{{ bundle_id.index }}', 'icon_chart_costs_{{ bundle_id.index }}')" />
    </div>
    <div class="card-body">

        {% for cost_input in list %}

            {% include 'subtemplates_model/_cost_input_individual.html' %}
        
        {% endfor %} 
        {% if bundle_id.index == 1 %}
            <small class="text-muted" id="slider_tip_cost_input" name="slider_tip">You can set the values for these inputs by moving the sliders.</small>
        {% endif %}
            <div id="div_chart_costs_{{ bundle_id.index }}" style="display:none">
                <canvas id="chart_costs_{{ bundle_id.index }}" height="200"></canvas>
            </div>

       
    </div>
</div>


<script>

    var ctx_costs_{{ bundle_id.index }} = document.getElementById('chart_costs_{{ bundle_id.index }}').getContext('2d');
    var borderColors = [
            'rgb(89, 37, 63)',
            'rgb(200, 160, 179)',
            'rgb(184, 58, 121)',
            'rgb(200, 140, 152)',
            'rgb(140, 140, 140)',
            'rgb(100, 100, 100)'];
    
    var fillColors = [
                'rgba(89, 37, 63, 0.3)',
                'rgba(200, 160, 179,0.3)',
                'rgba(184, 58, 121, 0.3)',
                'rgba(200, 140, 152, 0.3)',
                'rgba(140, 140, 140, 0.3)',
                'rgba(100, 100, 100, 0.3)'
            ];

    var chart_var_cost_{{ bundle_id.index }} = new Chart(ctx_costs_{{ bundle_id.index }}, {

        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [
                {% for cost_input in list %}
                {
                    label: '{{ cost_input.name }}',
                    borderColor: borderColors[{{ loop.index }}],
                    data: cost_array_default_{{ cost_input.id }},
                    pointRadius: 0,
                    fill: false
                },
                {% endfor %}
            ],
        },
        options: {
            legend: {
                position: "bottom",
            },
            scales: {
                yAxes: [{
                    stacked: false,
                    ticks: {
                        maxTicksLimit: 10,
                    }
                }]
            }
        }
    });

    {% for cost_input in list %}

        var update_cost_chart_params_{{ cost_input.id }} =[
            chart_var_cost_{{ bundle_id.index }},
            parseInt({{ loop.index -1 }}),
            create_arrays_params_cost_{{ cost_input.id }}
        ];


        var reset_input_values_params_cost_{{ cost_input.id }} =[
            {{ model.time_horizon }},
            {{ loop.index - 1 }},
            '{{ cost_input.input_type }}',
            chart_var_cost_{{ bundle_id.index }},

            'cost_input_static_{{ cost_input.id }}',
            'cost_output_int_static_{{ cost_input.id }}',
            {{ cost_input.static_values.value_default }},

            {% if cost_input.input_type != 'static' %}
                'cost_input_growth_{{ cost_input.id }}',
                'cost_output_int_growth_{{ cost_input.id }}',
                {{ cost_input.growth_factor.value_default }},
            {% endif %}

        ];

    {% endfor %}

</script>






    





