
<div class="card shadow-sm mb-3 chartcanvas">
    <div class="card-header price_input_header">
        <p class="lead mb-0">Price Model</p>
    </div>
    <div class="card-body">

        {% for price_input in model.price_inputs %}

            <div class="container mb-2 rounded border">
                <div class="form-inline py-2" id="inputs">
                    <span class="mr-4 font-weight-bold">{{ price_input.name}}</span>
                    <span class="col-2 text-center" onmouseover="viewchange_price_inputs_{{ price_input.id }}()" onmouseout="clearview_price_inputs_{{ price_input.id }}()" id="price_output_int_static_{{ price_input.id }}">{{ price_input.static_values.value_default }}</span>
                    <span>
                        <button type="button" class="btn btn-outline-primary ml-2" onclick="price_decrease_{{ price_input.id}}()">&lt;</button>
                        <button type="button" class="btn btn-outline-primary mx-1" onclick="price_increase_{{ price_input.id}}()">&gt;</button>
                    </span>
                    <small class="text-muted ml-2"><em id="price_change_int_static_{{ price_input.id }}"></em></small>
                    <button type="button" class="btn btn-sm btn-outline-secondary ml-auto" onclick="reset_price_output_int_static_{{ price_input.id }}()">Reset</button>
                </div>
            </div>


                <script>
                    function reset_price_output_int_static_{{ price_input.id }}() {
                        var input = document.getElementById('price_output_int_static_{{ price_input.id }}')
                        input.innerHTML = {{ price_input.static_values.value_default }};
                    };
                </script>

                <script>
                    function viewchange_price_inputs_{{ price_input.id }}() {
                        var output = parseFloat(document.getElementById("price_output_int_static_{{ price_input.id }}").innerHTML);
                        var change = document.getElementById("price_change_int_static_{{ price_input.id }}");
                        
                        if (output != {{ price_input.static_values.value_default }} && {{ price_input.static_values.value_default }} != 0 ) {
                             result = Math.round(((output - {{ price_input.static_values.value_default }}) / {{ price_input.static_values.value_default }} + Number.EPSILON / 100) * 100);
                             if (result>0) {
                                change.innerHTML = '+' + result + '%';
                             } else {
                                 change.innerHTML = result + '%';
                             };
                        };
                    };

                    function clearview_price_inputs_{{ price_input.id }}() {
                        var change = document.getElementById("price_change_int_static_{{ price_input.id }}");
                        change.innerHTML = ""
                    };

                    function price_increase_{{ price_input.id}}() {
                        var output = document.getElementById("price_output_int_static_{{ price_input.id }}"); 
                        new_output = Math.round((parseFloat(output.innerHTML) + {{ price_input.static_values.step }} + Number.EPSILON) * 100) / 100
                        output.innerHTML = new_output
                    };

                    function price_decrease_{{ price_input.id}}() {
                        var output = document.getElementById("price_output_int_static_{{ price_input.id }}"); 
                        new_output = Math.round((parseFloat(output.innerHTML) - {{ price_input.static_values.step }} + Number.EPSILON) * 100) / 100
                        output.innerHTML = new_output  

                    };
                
                </script>
                
            {% endfor %}    

        <hr>
        <a href="javascript:void(0)" id="information" class="badge badge-light badge-pill float-right"
            data-toggle="popover" title="information" data-content="#"><b>more →</b></a>
    </div>
</div>