
<div class="card shadow-sm mb-3 chartcanvas">
    <div class="card-header price_input_header">
        <p class="lead mb-0">Price Model</p>
    </div>
    <div class="card-body">
        <div class="container bg-light py-1 rounded">

            {% for price_input in model.price_inputs %}

                <div class="form-inline py-2" id="inputs">
                    <span class="mr-4 font-weight-bold">{{ price_input.name}}</span>
                    <span class="col-2 text-center" onmouseover="viewchange_{{ price_input.id }}()" onmouseout="clearview_{{ price_input.id }}()" id="price_output_int_static_{{ price_input.id }}">{{ price_input.static_values.value_default }}</span>
                    <span>
                        <button type="button" class="btn btn-outline-primary ml-2" onclick="price_decrease_{{ price_input.id}}()">&lt;</button>
                        <button type="button" class="btn btn-outline-primary mx-1" onclick="price_increase_{{ price_input.id}}()">&gt;</button>
                    </span>
                    <small class="text-muted"><em id="price_change_int_static_{{ price_input.id }}"></em></small>
                    


                </div>

                <script>
                    function viewchange_{{ price_input.id }}() {
                        var output = document.getElementById("price_output_int_static_{{ price_input.id }}");
                        var change = document.getElementById("price_change_int_static_{{ price_input.id }}");
                        if (!output === {{ price_input.static_values.value_default }}) {
                            change.innerHTML = Math.round((output - {{ price_input.static_values.value_default }} + Number.EPSILON / 100) * 100) + '% change'
                        }
                    };

                    function clearview_{{ price_input.id }}() {
                        var change = document.getElementById("price_change_int_static_{{ price_input.id }}");
                        change.innerHTML = ""
                    };



                    function price_increase_{{ price_input.id}}() {
                        var output = document.getElementById("price_output_int_static_{{ price_input.id }}"); 
                        new_output = Math.round((parseFloat(output.innerHTML) + {{ price_input.static_values.step }} + Number.EPSILON) * 100) / 100
                        output.innerHTML = new_output
                    };

                    function price_decrease_{{ price_input.id}}() {
                        var output = document.getElementById("price_output_int_static_{{ price_input.id }}"); 
                        new_output = Math.round((parseFloat(output.innerHTML) - {{ price_input.static_values.step }} + Number.EPSILON) * 100) / 100
                        output.innerHTML = new_output  
                        var change = document.getElementById("price_change_int_static_{{ price_input.id }}");
                        change.innerHTML = Math.round((new_output - {{ price_input.static_values.value_default }} + Number.EPSILON / 100) * 100) + '%'

                    };

                
                </script>
                
            {% endfor %}    

            </div>

        <hr>
        <a href="javascript:void(0)" id="information" class="badge badge-light badge-pill float-right"
            data-toggle="popover" title="information" data-content="#"><b>more →</b></a>
    </div>
</div>