<!-- <div class="container-fluid">
    <h5>Slider_to_Array</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 22%" scope="col">Input</th>
                <th style="width: 22%" scope="col">Static</th>
                <th style="width: 22%" scope="col">Linear</th>
                <th style="width: 22%" scope="col">Dynamic</th>
                <th style="width: 7%" scope="col">Custom</th>
            </tr>
        </thead>

        <tbody>
            <tr id="Slider_to_Array">
                <td>
                    <div class="form-inline">
                        <span class="mr-2">Start Value</span>
                        <input type="range" id="input_static" min=0 max=10 value=4 step=1 class="form-control"
                            onmouseup="rangeToArray()">
                        <span class="ml-2"><output id="output_int_static" type="int" />
                    </div>
                    <div class="form-inline">
                        <span class="mr-2">Growth Factor</span>
                        <input type="range" min=0 max=2 value=0.5 step=0.1 id="input_growth"
                            class="form-control" onmouseup="rangeToArray()">
                        <span class="mr-2"><output id="output_int_growth" type="int" />
                    </div>
                </td>

                <td id="rangeToArrayStatic"><output id="output_array_static" type="array" />
                <td id="rangeToArrayLinear"><output id="output_array_linear" type="array" />
                <td id="rangeToArrayDynamic"><output id="output_array_exp" type="array" />
                <td>[custom]</td>
            </tr>
        </tbody>
    </table>
</div>

<br><br>

<script>
    var T = 7

    function rangeToArray() {
        
        output_int_static.value = input_static.value;
        output_int_growth.value = input_growth.value;

        let array_static = new Array(T).fill(input_static.value);
        let array_linear = array_static.map((value, index) => ( Math.round((value * 1 + input_growth.value * index) * 100 ) / 100  ));
        let array_exp = array_static.map((value, index) => (Math.round((value * input_growth.value ** index + Number.EPSILON) * 100) / 100));
        
        output_array_static.value = array_static;
        output_array_linear.value = array_linear;
        output_array_exp.value = array_exp;
        
    };

</script> -->