<div class="container-fluid">
    <h5>Slider_to_Array</h5>
    <!-- <button class="btn btn-light" onclick="shiftBackwardTimeHorizon()"><<</button> -->
    <button class="btn btn-warning" onclick="reduceTimeHorizon()">-1</button>
    <button class="btn btn-dark" onclick="updateChart()">Update Chart</button>
    <button class="btn btn-info" onclick="increaseTimeHorizon()">+1</button>
    <button class="btn btn-light" onclick="shiftForwardTimeHorizon()">>></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 30%" scope="col">Static</th>
                <th style="width: 30%" scope="col">Linear</th>
                <th style="width: 30%" scope="col">Dynamic</th>
                <th style="width: 10%" scope="col">Custom</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><canvas id="testChartStatic"/></td>
                <td><canvas id="testChartLinear"/></td>
                <td><canvas id="testChartDynamic"/></td>
            </tr>
        </tbody>
    </table>
</div>

<br><br>

<script>
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July'];
    let rangeStaticArray = new Array(T);
    var dataOld = [];
    var dataNew = [];

    function rangeToArrayStatic() {
        dataOld = dataNew;

        dataNew = rangeDynamicArray;
        updateChart();
    };


    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July'];

    var ctx = document.getElementById('testChartStatic').getContext('2d');

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March'],
            datasets: [{
                label: false,
                borderColor: 'rgb(0, 99, 132)',
                data: dataNew
            }, {
                borderColor: 'rgb(12, 44, 240)',
                data: dataOld,
            }]
        },
        options: {
            legend: {
                position: "bottom",
            },
            scales: {
                yAxes: [{
                    ticks: {
                        callback: function (value, index, values) {
                            return '$' + value;
                        }
                    }
                }]
            }
        }
    });


</script>