<div class="container-fluid" id="simulation">
    <div class="row mb-3">
        <div class="col-2"><h3 class="text-secondary">Simulation Model</h3></div>
        <div class="col-5"><h5 class="text-center">Input Parameters</h5></div>
        <div class="col-5"><h5 class="text-center">KPIs</h5></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-pricecosts-tab" data-toggle="pill"
                    href="#v-pills-pricecosts" role="tab" aria-controls="v-pills-pricecosts"
                    aria-selected="true">Price & Costs</a>
                <a class="nav-link" id="v-pills-environmental_inputs-tab" data-toggle="pill"
                    href="#v-pills-environmental_inputs" role="tab" aria-controls="v-pills-environmental_inputs"
                    aria-selected="false">Environmental Inputs</a>
                <a class="nav-link disabled" id="v-pills-scenario_analysis-tab" data-toggle="pill"
                    href="#v-pills-scenario_analysis" role="tab" aria-controls="v-pills-scenario_analysis"
                    aria-selected="false">Scenario Analysis</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-pricecosts" role="tabpanel"
                    aria-labelledby="v-pills-pricecosts-tab">

                    {% if model.price_inputs|length > 0 %}
                        {% include 'subtemplates_model/_price_inputs.html' %}

                    {% endif %}

                    {% if model.cost_inputs|length > 0 %}
                        {% include 'subtemplates_model/_cost_inputs.html' %}
                    
                    {% endif %}


                </div>

                <!-- <script src="{{ url_for('static', filename='scripts/jquery.js') }}"/> //can hopefully export to this at some point -->



                <div class="tab-pane fade" id="v-pills-environmental_inputs" role="tabpanel"
                    aria-labelledby="v-pills-environmental_inputs-tab">

                        {% for environment_input in model.environment_inputs %}
                        
                            {% if environment_input.input_type == 'static' %}
                                {% include 'subtemplates_model/env_inputs/_static.html' %}

                            {% elif environment_input.input_type == 'linear' %}
                                {% include 'subtemplates_model/env_inputs/_linear.html' %}

                            {% elif environment_input.input_type == 'exp' %}
                                {% include 'subtemplates_model/env_inputs/_exp.html' %}

                            {% endif %} 

                        {% endfor %}

                

                </div>
                <div class="tab-pane fade" id="v-pills-scenario_analysis" role="tabpanel"
                    aria-labelledby="v-pills-scenario_analysis-tab">

                </div>
            </div>
        </div>
        <div class="col-md-5">
            {# for kpi in model.kpis #}
            
                {# include 'subtemplates_model/_kpis.html' #}
            
            {# endfor #}
        </div>
    </div>

</div>


<script>
    var T = 7
    $(document).ready(function() {
        var model_inputs = [
            {% for price_input in model.price_inputs %} 
                'button_increase_price_input_{{ price_input.id }}', 'button_decrease_price_input_{{ price_input.id }}',
            {% endfor %}

            {% for cost_input in model.cost_inputs %}
                'cost_input_static_{{ cost_input.id }}', 'cost_input_growth_{{ cost_input.id }}',
            {% endfor %}

            {% for environment_input in model.environment_inputs %}
                'env_input_static_{{ environment_input.id }}',

                {% if environment_input.input_type != 'static' %}
                    'env_input_growth_{{ environment_input.id }}',
                {% endif %}

            {% endfor %}
        ];
        var selector_ids = model_inputs.map(x => "'#"+x).join(",");
        console.log("Selectors: " + selector_ids)

        $('#button_increase_price_input_1').on('input click', function(event) {
            console.log("check")
        });
        
        
        $(selector_ids).on('input click', function(event) {
            console.log('input happened')
            var modelData = {
                'price_inputs': {
                    {% for price_input in model.price_inputs %}
                        '{{ price_input.id }}': array_static_price_{{ price_input.id }},
                    {% endfor %}
                }, 
                'cost_inputs': {
                    {% for cost_input in model.cost_inputs %}
                        {% if cost_input.input_type == 'static' %}
                            '{{ cost_input.id }}': window.array_static_cost_{{ cost_input.id }}_new,
                        {% elif cost_input.input_type == 'linear' %}
                            '{{ cost_input.id }}': window.array_linear_cost_{{ cost_input.id }}_new,
                        {% elif cost_input.input_type == 'linear' %}
                            '{{ cost_input.id }}': window.array_exp_cost_{{ cost_input.id }}_new,
                        {% endif %}
                    {% endfor %}
                }, 
            }
            console.log(modelData)
            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(modelData)
                
            }).done(function (data) {
                    console.log("success");
                    
            });
            event.preventDefault();
        });
    });


</script>