<script src="{{ url_for('static', filename='scripts/example.js') }}"></script>

<div class="container py-4" id="simulationmodel">
    <h3 class="text-secondary my-3">Simulation Model</h3>
    <p class="lead">Introduction Text</p>
</div>

<div class="container-fluid" id="simulation">
        <div class="row">
            <div class="col-lg-6 mb-3"><h5 class="text-center">Input Parameters</h5></div>
            <div class="col-lg-6 mb-3"><h5 class="text-center">KPIs</h5></div>
        </div>                      
        <div class="row">
        <div class="col col-lg-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-pricecosts-tab" data-toggle="pill"
                    href="#v-pills-pricecosts" role="tab" aria-controls="v-pills-pricecosts"
                    aria-selected="true"
                    onmouseover="viewinputdescription('{{ model.input_descriptions.price_cost_input_description }}')" 
                    onmouseout="clear_description()" >Pricing & Costs</a>

                <a class="nav-link" id="v-pills-operation_inputs-tab" data-toggle="pill" href="#v-pills-operation_inputs" role="tab"
                    aria-controls="v-pills-operation_inputs" aria-selected="false"
                    onmouseover="viewinputdescription('{{ model.input_descriptions.operation_input_description }}')"
                    onmouseout="clear_description()">Operation Inputs</a>

                <a class="nav-link" id="v-pills-environment_inputs-tab" data-toggle="pill"
                    href="#v-pills-environment_inputs" role="tab" aria-controls="v-pills-environment_inputs"
                    aria-selected="false"
                    onmouseover="viewinputdescription('{{ model.input_descriptions.environment_input_description }}')" 
                    onmouseout="clear_description()">Environmental Inputs</a>
                
            </div>
            <div class="p-3 my-3 bg-light" style="display:none" id="inputdescriptioncard"><small id="inputdescription"></small></div>
            <div class="p-3 my-3 bg-light" style="display:none" id="inputsourcecard">
                <small class="font-weight-bold">Sources</small>
                <br>
                <small id="inputsources"></small>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-pricecosts" role="tabpanel"
                    aria-labelledby="v-pills-pricecosts-tab">

                    {% if model.price_inputs|length > 0 %}
                        {% include 'subtemplates_model/_price_inputs.html' %}

                    {% endif %}
                    

                    {% if model.cost_inputs|length > 0 %}
                        {% for bundle, list in model.cost_inputs|groupby('bundle')  %}
                            {% set bundle_id = loop %}
                            {% include 'subtemplates_model/_cost_input_bundle.html' %}
                        {% endfor %}
                    {% endif %}


                </div>

                <!-- <script src="{{ url_for('static', filename='scripts/jquery.js') }}"/> //can hopefully export to this at some point -->

                <div class="tab-pane fade" id="v-pills-operation_inputs" role="tabpanel"
                    aria-labelledby="v-pills-operation_inputs-tab">

                        {% for operation_input in model.operation_inputs %}
                            
                            {% include 'subtemplates_model/_operation_input.html' %}

                        {% endfor %}
 

                </div>

                <div class="tab-pane fade" id="v-pills-environment_inputs" role="tabpanel"
                    aria-labelledby="v-pills-environment_inputs-tab">

                        {% for environment_input in model.environment_inputs %}
                                
                                {% if environment_input.input_type == 'custom' %}
                                    {% include 'subtemplates_model/_env_input_custom.html' %}
                                {% else %}
                                    {% include 'subtemplates_model/_env_input.html' %}
                                {% endif %}

                        {% endfor %}

                

                </div>
               
        
            </div>
        </div>
        <div class="col col-lg-6">

            {# for kpi in model.kpis #}
            
                {# include 'subtemplates_model/_kpis.html' #}
            
            {# endfor #}
        </div>
    </div>

</div>


<script>

    function toggle_div_chart(div_chart_id, icon_chart) {
        var chart = document.getElementById(div_chart_id);
        var icon = document.getElementById(icon_chart);
        if (chart.style.display === "none") {
            chart.style.display = "block";
            icon.src = "{{ url_for('static', filename='images/icons/show.png')}}"
        } else {
            chart.style.display = "none";
            icon.src = "{{ url_for('static', filename='images/icons/hide2.png')}}"
        };
    }
</script>


<script>


    
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
 


    function price_to_array(id) {
        var price = document.getElementById("price_output_int_static_" + id);
        array_static_price = new Array({{ model.time_horizon }}).fill(price.innerHTML);
        return array_static_price
    };





    var buttons = [
        {% for price_input in model.price_inputs %} 
            '#button_increase_price_input_{{ price_input.id }}', '#button_decrease_price_input_{{ price_input.id }}',
        {% endfor %}

        {% for price_input in model.price_inputs %}
            '#reset_button_price_input_{{ price_input.id }}',
        {% endfor %} 

        {% for cost_input in model.cost_inputs %}
            '#reset_button_cost_input_{{ cost_input.id }}',
        {% endfor %} 

        {% for environment_input in model.environment_inputs %}
            '#reset_button_environment_input_{{ environment_input.id }}',
        {% endfor %} 
    ];

    var range_sliders = [
        {% for cost_input in model.cost_inputs %}
            '#cost_input_static_{{ cost_input.id }}', '#cost_input_growth_{{ cost_input.id }}',
        {% endfor %}

        {% for environment_input in model.environment_inputs %}
            {% if environment_input.input_type != 'custom' %}

                '#env_input_static_{{ environment_input.id }}',

                {% if environment_input.input_type != 'static' %}
                    '#env_input_growth_{{ environment_input.id }}',
                {% endif %}
                
            {% endif %}
        {% endfor %}
    ];

    
    
    var button_ids = buttons.join(", ");
    var range_slider_ids = range_sliders.join(", ");


    $(document).ready(function() {

        $(button_ids).on('click', function (event) {
            var modelData = {
                'price_inputs': {
                    {% for price_input in model.price_inputs %}
                        '{{ price_input.id }}': price_to_array({{ price_input.id }}),
                    {% endfor %}
                    },

                'cost_inputs': {

                    {% for bundle, list in model.cost_inputs | groupby('bundle') %}
                        {% set bundle_id = loop %}
                        {% for cost_input in list %}
                            '{{ cost_input.id }}': chart_var_cost_{{ bundle_id.index }}.data.datasets[{{ loop.index - 1 }}].data,
                        {% endfor %}
                    {% endfor %}
                    
                    },

                'environment_inputs': {
                    {% for environment_input in model.environment_inputs %}
                        '{{ environment_input.id }}': chart_var_env_{{ environment_input.id }}.data.datasets[0].data,
                    {% endfor %}
                    }, 
            }
            
            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(modelData)
                
            }).done(function (data) {
                console.log("reset click");
            });
            event.preventDefault();   
        });

        $(range_slider_ids).on('change', function (event) {
            
            var modelData = {
                'price_inputs': {
                    {% for price_input in model.price_inputs %}
                        '{{ price_input.id }}': price_to_array({{ price_input.id }}),
                    {% endfor %}
                    },

                'cost_inputs': {

                    {% for bundle, list in model.cost_inputs | groupby('bundle') %}
                        {% set bundle_id = loop %}
                        {% for cost_input in list %}
                            '{{ cost_input.id }}': chart_var_cost_{{ bundle_id.index }}.data.datasets[{{ loop.index - 1 }}].data,
                        {% endfor %}
                    {% endfor %}
                    
                    },

                'environment_inputs': {
                    {% for environment_input in model.environment_inputs %}
                        '{{ environment_input.id }}': chart_var_env_{{ environment_input.id }}.data.datasets[0].data,
                    {% endfor %}
                    }, 
            }

            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(modelData)
                
            }).done(function (data) {
                console.log("rangeslider change");
            });
            event.preventDefault();
        });  

     
       
    });

</script>