<div class="container-fluid" id="simulation">
    <div class="row mb-3">
        <div class="col-2"><h3 class="text-secondary">Simulation Model</h3></div>
        <div class="col-5"><h5 class="text-center">Input Parameters</h5></div>
        <div class="col-5"><h5 class="text-center">KPIs</h5></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-pricecosts-tab" data-toggle="pill"
                    href="#v-pills-pricecosts" role="tab" aria-controls="v-pills-pricecosts"
                    aria-selected="true">Price & Costs</a>
                <a class="nav-link" id="v-pills-environmental_inputs-tab" data-toggle="pill"
                    href="#v-pills-environmental_inputs" role="tab" aria-controls="v-pills-environmental_inputs"
                    aria-selected="false">Environmental Inputs</a>
                <a class="nav-link disabled" id="v-pills-scenario_analysis-tab" data-toggle="pill"
                    href="#v-pills-scenario_analysis" role="tab" aria-controls="v-pills-scenario_analysis"
                    aria-selected="false">Scenario Analysis</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-pricecosts" role="tabpanel"
                    aria-labelledby="v-pills-pricecosts-tab">

                    {% if model.price_inputs|length > 0 %}
                    
                        {% include 'subtemplates_model/_price_inputs.html' %}
                    
                    {% endif %}

                    {% if model.cost_inputs|length > 0 %}
                    
                        {% include 'subtemplates_model/_cost_inputs.html' %}
                    
                    {% endif %}


                </div>

                <!-- <script src="{{ url_for('static', filename='scripts/jquery.js') }}"/> //can hopefully export to this at some point -->



                <div class="tab-pane fade" id="v-pills-environmental_inputs" role="tabpanel"
                    aria-labelledby="v-pills-environmental_inputs-tab">

                    {% for environment_input in model.environment_inputs %}
                    
                        {% if environment_input.input_type == 'static' %}
                            {% include 'subtemplates_model/env_inputs/_static.html' %}

                        {% elif environment_input.input_type == 'linear' %}
                            {% include 'subtemplates_model/env_inputs/_linear.html' %}

                        {% elif environment_input.input_type == 'exp' %}
                            {% include 'subtemplates_model/env_inputs/_exp.html' %}

                        {% endif %} 

                    {% endfor %}
                

                </div>
                <div class="tab-pane fade" id="v-pills-scenario_analysis" role="tabpanel"
                    aria-labelledby="v-pills-scenario_analysis-tab">

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <p>[Content for KPIs]</p>
        </div>
    </div>

</div>
