

<section id="toExamples">
  <div class="container py-5">
    <p class="display-4 text-center">Example</p>
    <div class="row mt-5">
      <div class="col-lg-6 order-lg-2" id="exampleScooterImage">
        <!-- <a href="{{ url_for('example') }}> -->
          <img class="scooterHeader shadow rounded mx-auto d-block" height="600px" src="{{url_for('static', filename='images/scooter.jpg')}}">
          <div class="carousel-caption">
            <h2>{{ teaser }}</h2>
        <!-- </a> -->
        </div>
      </div>
      <div class="col-lg-6 order-lg-1" id="exampleScooterText">
        <p class="lead">From venture capitalists to corporate innovation units, entrepreneurs and intrapreneurs need a stellar team and compelling narrative to receive capital and support for their invention. Most often decision makers and financiers ask for business cases to evaluate a business opportunity.</p>
        <p class="lead">The <em>Business Simulation Project</em> aims to provide <b>an alternative to traditional business case calculations</b> that are static and lack natural narrative.</p>
      </div>
    </div>
</div>
</section>
