{% extends "base.html" %}

{% block app_content %}

  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>About this project</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6">
        <p>The <em>Business Simulation Project</em> aims to provide <b>an interactive alternative to traditional business case calculations to enhance decision making in the context of business model innovation processes.</b></p>
        <p>It has grown out of a joint research collaboration between the <a href="www.item.unisg.ch" alt="">Institute of Technology Management at the University of St. Gallen </a> and <em>BMW</em>, one of the leading automotive companies.</p>
        <p>This software has been developed by Thomas Möllers and Camillo Visini.</p>
      </div>
    </div>
  </div>


{% endblock %}
