{% extends "base.html" %}


{% block header %}
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script> -->


{% endblock %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="mb-5">Input</h1> 
            <input type="range" id="input_1" min=1 max=10 value=5 step=1 class="form-control w-25">
        </div>

        <div class="col-6">
            <h1 class="mb-5">Output</h1>
            <p1 id="output_1"></p1>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#input_1').on('input', function (event) {
            var value1 = $('#input_1').val();
            var postData = {
                value1: value1
            }

            $.ajax({
                type: 'POST',
                url: '{{ url_for("data") }}',
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(postData)
                
            }).done(function (data) {
                    console.log(value1);
                    $('#output_1').text(value1)
                });
            event.preventDefault();
        });
    });

</script>

{% endblock %}









