{% extends "base.html" %}

{% block app_content %}
<div class="container">
  <h1 class="mb-2">Reset Your Password</h1>
  <form action="" method="POST">
      {{ form.hidden_tag() }}
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="password">{{ form.password.label }}</label>
      {{ form.password(class="form-control") }}
      <small id="password" class="form-text text-muted">
        {% for error in form.password.errors %}[{{ error }}]{% endfor %}
      </small>
    </div>
    <div class="form-group col-md-6">
      <label for="password2">{{ form.password2.label }}</label>
      {{ form.password2(class="form-control") }}
      <small id="password2" class="form-text text-muted">
        {% for error in form.password2.errors %}[{{ error }}]{% endfor %}
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-2">Submit</button>
  </form>
</div>
{% endblock %}
