{% extends "base.html" %}

{% block header %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>

    
{% endblock %}

{% block app_content %}

    {# include 'subtemplates_model/_integer_to_array_table.html' #}

    {# include 'subtemplates_model/_slider_to_array_table.html' #}

    {# include 'subtemplates_model/_slider_to_chart_table.html' #}

    {# include 'subtemplates_model/_input_test.html' #}

    {% include 'subtemplates_model/_draggable_input.html' %}


  
{% endblock %}


{% block script %}

{% endblock %}

